body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

table{
    margin: 10px auto;
}
th, td{   
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.input-name{
    width: 300px;
    font-size: 1.2em;
    padding: 10px;
}
.input-date{
    width: 200px;
    font-size: 1.2em;
    padding: 10px;
}
.add-btn{
    width: 200px;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white    ;
}

.title-text th{
    font-size: 1.2em;
    font-weight: bold;  
}
td{
    font-size: 1.2em;
}
.dlt-btn{
    width: 200px;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: darkred;
    color: white    ;
}
.required{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 375px;
    color: red;

}
@media (max-width:477px){
    table{
        width: 200px;
    }
    .input-name {
        width: 120px;
        font-size: 0.8em;
        padding: 3px;
    }
    .input-date {
        width: 70px;
        font-size:0.6em;
        padding: 3px;
    }
    .add-btn {
        width: 65px;
        font-size: 0.8em;
        padding: 3px;
        border: none;
        cursor: pointer;
        background-color: green;
        color: white;
    }
    .title-text th {
        font-size: 0.8em;
        font-weight: bold;
    }
    td{
        font-size: 0.8em;
    }
    .dlt-btn {
        width: 65px;
        font-size: 0.8em;
        padding: 3px;
        border: none;
        cursor: pointer;
        background-color: darkred;
        color: white;
    }
    .required {
        font-size: 0.8em;
        font-weight: bold;
        margin-left:50px;
        color: red;
    }

}